{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Django-Starter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'hello/style.css' %}" />
  {% block meta %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
<body>

{% block content %}{% endblock %}
<!-- Created by rahulpsd18 -->
</body>
</html>
