{% extends "hello/base.html" %}
{% load staticfiles %}

{% block meta %}
<style>
code {
  border-radius: 3px;
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
}
ol li code {
  color:blue;
}
#production li code {
  color:red;
}
li{
  margin-top:5px;
}
</style>
{% endblock %}

{% block content %}
<div class="container pt-5">
  <h1 class="display-4">Welcome to Django-Starter.</h1><hr/>
  <div class="container">
    <strong class="lead">Replace <code>django-starter</code> with the name of <code>your-app</code> using "Find in Project" or manually from the following files:</strong><br/><br/>
    <ul>
      <li><code>settings.py</code> - <code>LINE 43</code>: ROOT_URLCONF = 'django-starter.urls'</li>
      <li><code>settings.py</code> - <code>LINE 62</code>: WSGI_APPLICATION = 'django-starter.wsgi.application'</li>
      <li><code>wsgi.py</code> - <code>LINE 11</code>: os.environ.setdefault("DJANGO_SETTINGS_MODULE", "django-starter.settings")</li>
      <li><code>manage.py</code> - <code>LINE 6</code>: os.environ.setdefault("DJANGO_SETTINGS_MODULE", "django-starter.settings")</li>
      <li><code>Procfile</code> - <code>LINE 1</code>: web: gunicorn django-starter.wsgi --log-file -</li>
    </ul>
    <hr>
    <ol class="lead">
      <li>Create new app using <code>$ python manage.py startapp &lt;app-name&gt;</code></li>
      <li><code>cd &lt;app-name&gt; &amp;&amp; mkdir static &amp;&amp; mkdir templates</code></li>
      <li>And on you go. (Don't forget to add it to your <code>settings.py</code> - <code>INSTALLED_APPS</code>)</li>
    </ol>
    <hr>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Production Mode
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <nav class="breadcrumb">
              <span class="breadcrumb-item active">TIP: Run <code>python manage.py collectstatic</code> manually while working in Production mode on localhost.</span>
            </nav>
            <ol id="production">
              <li>Set <code>DEBUG = False</code> in settings.py</li>
              <li>Set your <code>SECRET_KEY</code> in settings.py</li>
              <li>Add hosts accordingly in <code>ALLOWED_HOSTS= []</code> in settings.py</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
